:root {
  font-family: OCR A Std, monospace;
  line-height: 1.5;
  font-weight: 400;
  color: #a44d1e;
  background-color: #b8be3c;
  background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/69037/cute-avocado-clipart-xl.png);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 3.2em;
  line-height: 2;
  border-radius: 25px;
  background-color: #dbdb62;
  text-shadow: 2px 2px #250000;
}

h1,
h2 {
  margin: 8px;
  border-radius: 25px;
  background-color: #dbdb62;
}

select {
  padding: 0.3em;
  cursor: pointer;
}

textarea {
  padding: 0.6em;
}

button {
  padding: 0.6em 1.2em;
  cursor: pointer;
  font-weight: 700;
  border-radius: 32px;
  border: 3px solid transparent;
  font-size: 1em;
  font-family: inherit;
  color: #6f2700;
  background-color: #f7eaa6;
}

button[disabled] {
  cursor: not-allowed;
}

select,
textarea {
  border-radius: 8px;
  border: 3px solid transparent;
  font-size: 1.1em;
  font-weight: 550;
  font-family: inherit;
  color: #6e2701;
  background-color: #f7eaa6;
  transition: border-color 0.25s;
}

select:hover,
textarea:hover,
button:not([disabled]):hover {
  border-color: #19ba39;
}

select:focus,
select:focus-visible,
textarea:focus,
textarea:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}